/* Colores */

/* --moss-green: #9EA065ff;
--black: #070708ff;
--eerie-black: #1B1C14ff;
--sage: #B8B296ff;
--khaki: #BBAC9Cff;
--columbia-blue: #C9D7E2ff; 
--black-bean: #370201ff;
--rosewood: #520B07ff;
--barn-red: #7B0001ff;
--rosewood-2: #510203ff;
--smoky-black: #070200ff;
--black-bean-2: #430100ff;
--licorice: #140200ff;
--licorice-2: #190001ff;
--black: #050301ff;
--barn-red-2: #7A0204ff;
--black-bean: #4D100Eff;
--pearl: #EBDFC4ff;
--chocolate-cosmos: #500F0Dff;*/

/* Estilos generales */
body {
    font-family: 'Megrim', sans-serif;
    background-color: #B8B296ff;
    margin: 0;
    padding: 0;
    background-image: url('images/Index2.jpg'); /* Reemplaza 'ruta-de-la-imagen.jpg' con la ruta de tu imagen de fondo */
    background-size: cover; /* Ajusta la imagen para que cubra todo el fondo del body */
    background-position: center; /* Coloca la imagen en el centro del fondo */
    background-repeat: no-repeat;
    margin-bottom: 0em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos del encabezado */
header {
    background-color: #190001ff;
    color: #B8B296ff;
    padding: 1%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1; 
    transition: top 0.3s;
}

/* Estilos del logotipo */
.logo {
    text-decoration: none;
    color: #fff;
    position: absolute;
    left: 4%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; 
}

.logo img {
    width: 100px;
    height: auto;
}

/* Estilos del título */
h1 {
    font-size: 4vw;
    text-align: center;
    margin: 20px 0;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    z-index: 2; 
}

/* Estilos del menú de navegación */
nav {
    font-size: 1.2vw;
    color: #B8B296ff;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative; 
    z-index: 1; 
    margin-right: 25px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin-left: auto;
}

ul li {
    margin-left: 10px;
}

ul li:first-child {
    margin-left: 0;
}

ul li a {
    color: #B8B296ff;
    text-decoration: none;
}

/* Estilos para el submenú */
ul li:hover > ul {
    display: block;
}

ul ul {
    display: none;
    position: absolute;
    background-color: #333; 
    list-style: none;
    padding: 0;
    z-index: 4;
}

ul ul li {
    width: 100%;
    margin-left: 0;
}

ul ul li a {
    color: #B8B296ff;
    padding: 10px;
    text-decoration: none;
    display: block;
}

ul ul li a:hover {
    background-color: #555; 
}


/* Estilos del contenido principal */
main {
    text-align: center;
    padding: 0;
    position: relative;
    background-image: url("images/Index.jpg");
    background-size: cover;
    background-position: center;
    color: #B8B296ff;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Estilos del section */
section {
    text-align: center;
    margin: 80px 0 0;
    padding: 10px 0 0;
    position: relative;
    background-size: cover;
    background-position: center;
    color: #B8B296ff;
}
.dropdown-container {
    max-height: 300px; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto; /* Agrega desplazamiento vertical si el contenido supera la altura máxima */
}

/* Estilos para el tipo de artículo con imagen a la izquierda */
.article-left {
    border: 0.2vw solid #B8B296ff; /* Borde con el color deseado */
    border-radius: 10px; /* Borde redondeado */
    padding: 2%; /* Espaciado interno para el contenido */
    margin: 2%; /* Espacio entre los elementos */
    display: flex; /* Usa flexbox para alinear imagen y texto */
    align-items: center; /* Centra verticalmente el contenido */
    width: 50%; /* Establece el ancho en 50% del contenedor padre */
    margin: 0 auto; /* Centra horizontalmente */
    height: auto;
    background-color: #190001ff;
}

.article-left img {
    width: 180%; /* Tamaño de la imagen */
    margin-right: 0%; /* Espacio entre la imagen y el texto */
}
article.article-left img {
    vertical-align: top;
    margin-right: 3%;
}



/* Estilos para el contenedor del texto */
.article-left .text-container {
    flex-grow: 1; /* Permite que el contenedor del texto se expanda para ocupar el espacio restante */
    margin-left: 10%;
}

.article-left h2 {
    font-size: 1.6vw;
    margin-bottom: 10px;
}

/* Estilos para los divs dentro del artículo */
.article-left div{
    margin-left: 3%; /* Agrega margen a la izquierda para separar los divs */
    margin-right: 3%;
    
}

.text-container {
    width: 200%; /* Puedes ajustar el ancho deseado en porcentaje o píxeles */
    margin-left: 10%;
    margin-right: 10%;
}

.article-left h3{
    font-size: 1.6vw;
    margin: 2%;
}

.article-left p{
    font-size: 16px;
    margin-bottom: 2%;
    margin-left: 2%;
}

/* Estilos para el nuevo tipo de artículo con título en la parte superior */
.article-with-title {
    border: 0.15vw solid #B8B296ff;
    border-radius: 10px;
    padding: 2%;
    margin: 0 auto;
    display: flex;
    width: 75%;
    background-color: #190001ff;
}

/* Estilos para la imagen en el nuevo tipo de artículo */
.article-with-title img {
    max-width: 400%; /* Tamaño máximo de la imagen (ajusta según tus necesidades) */
    margin-right: 2%;
    margin-top: 30%;
    margin-bottom: 30%; /* Espacio entre la imagen y el texto */
}

/* Estilos para el contenedor del texto en el nuevo tipo de artículo */
.article-with-title .text-container {
    flex-grow: 0.5;
}

.article-with-title h2 {
    font-size: 1.6vw;
    margin-bottom: 1%;
}


/* Estilos de la imagen principal */
main img {
    max-width: 100%;
    height: auto;
    display: block; 
}

/* Estilos del pie de página */
footer {
    background-color: #190001ff;
    color: #B8B296ff;
    padding: 0.5%;
    text-align: center;
    margin-top: auto;
    transition: bottom 0.5s; /* Agrega una transición suave para el efecto de despliegue */
}

.contacto-page footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #190001ff;
    color: #B8B296ff;
    padding: 10px;
    text-align: center;
}


/* Estilos del formulario */
form {
    max-width: 600px; /* Ajusta el ancho máximo del formulario según tus preferencias */
    margin: 0 auto; /* Centra el formulario horizontalmente */
    padding: 20px; /* Espaciado interno para el formulario */
    position: relative; /* Asegura que el formulario aparezca sobre el fondo */
    top: 20vh; /* Ajusta la posición vertical según tus preferencias */
}

/* Estilos para los campos de entrada y etiquetas */
form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold; /* Hace que las etiquetas sean negritas */
    color: #B8B296ff; /* Color del texto de la etiqueta */
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #B8B296ff;
    border-radius: 5px;
    font-family: 'Megrim', sans-serif;
    font-size: 1vw;
    color: #B8B296ff; /* Color del texto de entrada */
    background-color: transparent;
}

form textarea {
    height: 150px; /* Ajusta la altura del campo de texto según tus preferencias */
    background-color: transparent;
}

form input[type="submit"] {
    background-color: transparent;
    color: #B8B296ff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1vw;
    cursor: pointer;
}

/* Estilos de las redes sociales */
.redes-sociales {
    margin: 10px;
}

.redes-sociales a {
    margin: 5px;
}

.redes-sociales img {
    width: 45px;
    height: 45px;
}

.container a {
    margin: 10px; 
}

.separacion {
    margin-top: 15px;
}

@font-face {
    font-family: 'Butcherman';
    src: url('fonts/Butcherman/Butcherman-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Rubik_Dirt';
    src: url('fonts/Rubik_Dirt/RubikDirt-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Megrim';
    src: url('fonts/Megrim/Megrim-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato/Lato-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Frijole';
    src: url('fonts/Frijole/Frijole-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Eater';
    src: url('fonts/Eater/Eater-Regular.ttf') format('truetype');
}

@media (max-width: 768px) {
    /* Redefine los estilos para el encabezado y el contenido principal en pantallas más pequeñas */
    header {
        position: static; /* Hace que el encabezado no sea fijo en pantallas pequeñas */
        background-color: #190001ff; /* Puedes ajustar el color de fondo si es necesario */
    }
    
    main {
        margin-top: 0; /* Elimina el margen superior para que el contenido principal se muestre correctamente en pantallas pequeñas */
    }
}
/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
    /* Redefine los estilos para el encabezado en pantallas más pequeñas */
    header {
        position: static;
    }

    /* Redefine los estilos para el menú de navegación en pantallas más pequeñas */
    nav {
        display: block;
        text-align: center;
        background-color: #190001ff;
        padding: 10px;
        margin: 0;
    }

    /* Ajusta el tamaño del texto en la Media Query */
    h1 {
        font-size: 40px; /* Cambia el tamaño del título h1 */
    }

    /* Ajusta el tamaño de otros elementos de texto en la Media Query si es necesario */
    /* p {
        font-size: 16px;
    } */

    /* ... (otros estilos de texto) ... */

    /* Ajusta otros estilos para evitar superposición de elementos si es necesario */
    /* .elemento {
        margin: 10px;
    } */
}

