/* Colores */

/* --moss-green: #9EA065ff;
--black: #070708ff;
--eerie-black: #1B1C14ff;
--sage: #B8B296ff;
--khaki: #BBAC9Cff;
--columbia-blue: #C9D7E2ff; 
--black-bean: #370201ff;
--rosewood: #520B07ff;
--barn-red: #7B0001ff;
--rosewood-2: #510203ff;
--smoky-black: #070200ff;
--black-bean-2: #430100ff;
--licorice: #140200ff;
--licorice-2: #190001ff;
--black: #050301ff;
--barn-red-2: #7A0204ff;
--black-bean: #4D100Eff;
--pearl: #EBDFC4ff;
--chocolate-cosmos: #500F0Dff;*/

/* Estilos generales */
body {
    font-family: 'Megrim', sans-serif;
    background-color: #B8B296ff;
    margin: 0;
    padding: 0;
    background-image: url('images/Index2.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    margin-bottom: 0em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos del encabezado */
header {
    background-color: #190001ff;
    color: #B8B296ff;
    padding: 1%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1; 
    transition: top 0.3s;
}

/* Estilos del logotipo */
.logo {
    text-decoration: none;
    color: #fff;
    position: absolute;
    left: 4%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; 
}

.logo img {
    width: 100px;
    height: auto;
}

/* Estilos del título */
h1 {
    font-size: 4vw;
    text-align: center;
    margin: 20px 0;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    z-index: 2; 
}

p {
    text-align: justify;
}

/* Estilos del menú de navegación */
nav {
    font-size: 1.2vw;
    color: #B8B296ff;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative; 
    z-index: 1; 
    margin-right: 25px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin-left: auto;
}

ul li {
    margin-left: 10px;
}

ul li:first-child {
    margin-left: 0;
}

ul li a {
    color: #B8B296ff;
    text-decoration: none;
}

/* Estilos para el submenú */
ul li:hover > ul {
    display: block;
}

ul ul {
    display: none;
    position: absolute;
    background-color: #333; 
    list-style: none;
    padding: 0;
    z-index: 4;
}

ul ul li {
    width: 100%;
    margin-left: 0;
}

ul ul li a {
    color: #B8B296ff;
    padding: 10px;
    text-decoration: none;
    display: block;
}

ul ul li a:hover {
    background-color: #555; 
}


/* Estilos del contenido principal */
main {
    text-align: center;
    padding: 0;
    position: relative;
    background-image: url("images/Index.jpg");
    background-size: cover;
    background-position: center;
    color: #B8B296ff;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Estilos del section */
section {
    text-align: center;
    margin: 80px 0 0;
    padding: 10px 0 0;
    position: relative;
    background-size: cover;
    background-position: center;
    color: #B8B296ff;
    padding-bottom: 10%;
}
.dropdown-container {
    max-height: 500px; 
    overflow-y: auto; 
}

/* Estilos para el tipo de artículo con imagen a la izquierda */
.article-left {
    border: 0.2vw solid #B8B296ff; 
    border-radius: 10px; 
    padding: 2%; 
    margin: 2%; 
    display: flex; 
    align-items: center; 
    width: 50%; 
    margin: 0 auto; 
    height: auto;
    background-color: #190001ff;
}

.article-left img {
    width: 180%; /* Tamaño de la imagen */
    margin-right: 0%;
}
article.article-left img {
    vertical-align: top;
    margin-right: 3%;
}



/* Estilos para el contenedor del texto */
.article-left .text-container {
    flex-grow: 1; 
    margin-left: 10%;
}

.article-left h2 {
    font-size: 1.6vw;
    margin-bottom: 10px;
}

/* Estilos para los divs dentro del artículo */
.article-left div{
    margin-left: 3%;
    margin-right: 3%;
    
}

.text-container {
    width: 200%; 
    margin-left: 10%;
    margin-right: 10%;
}

.article-left h3{
    font-size: 1.6vw;
    margin: 2%;
}

.article-left p{
    font-size: 16px;
    margin-bottom: 2%;
    margin-left: 2%;
}

/* Estilos para el nuevo tipo de artículo con título en la parte superior */
.article-with-title {
    border: 0.15vw solid #B8B296ff;
    border-radius: 10px;
    padding: 2%;
    margin: 0 auto;
    display: flex;
    width: 75%;
    background-color: #190001ff;
}

/* Estilos para la imagen en el nuevo tipo de artículo */
.article-with-title img {
    max-width: 400%;
    margin-right: 2%;
    margin-top: 30%;
    margin-bottom: 30%; 
}

/* Estilos para el contenedor del texto en el nuevo tipo de artículo */
.article-with-title .text-container {
    flex-grow: 0.5;
    margin-left: 15%;
    padding-bottom: 5%;
}

.article-with-title h2 {
    font-size: 1.6vw;
    margin-bottom: 1%;
}


/* Estilos de la imagen principal */
main img {
    max-width: 100%;
    height: auto;
    display: block; 
}

/* Estilos del pie de página */
footer {
    background-color: #190001ff;
    color: #B8B296ff;
    padding: 0.5%;
    text-align: center;
    margin-top: auto;
    transition: bottom 0.5s; 
}

.contacto-page footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #190001ff;
    color: #B8B296ff;
    padding: 10px;
    text-align: center;
}


/* Estilos del formulario */
form {
    max-width: 60%;
    margin: 20%; 
    margin-top: 0%;
    padding-top: 0%;
    padding-bottom: 5%;
    position: relative; 
    top: 20vh; 
}

/* Estilos para los campos de entrada y etiquetas */
form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #B8B296ff; 
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #B8B296ff;
    border-radius: 5px;
    font-family: 'Megrim', sans-serif;
    font-size: 1vw;
    color: #B8B296ff;
    background-color: transparent;
}

form textarea {
    height: 100px;
    background-color: transparent;
}

form input[type="submit"] {
    background-color: transparent;
    color: #B8B296ff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1vw;
    cursor: pointer;
}

/* Estilos de las redes sociales */
.redes-sociales {
    margin: 10px;
}

.redes-sociales a {
    margin: 5px;
}

.redes-sociales img {
    width: 45px;
    height: 45px;
}

.container a {
    margin: 10px; 
}

.separacion {
    margin-top: 15px;
}

@font-face {
    font-family: 'Butcherman';
    src: url('fonts/Butcherman/Butcherman-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Rubik_Dirt';
    src: url('fonts/Rubik_Dirt/RubikDirt-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Megrim';
    src: url('fonts/Megrim/Megrim-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato/Lato-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Frijole';
    src: url('fonts/Frijole/Frijole-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Eater';
    src: url('fonts/Eater/Eater-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway/static//Raleway-ExtraLightItalic.ttf')format('truetype');
}
@font-face {
    font-family: 'Oswald';
    src: url('fonts/Oswald/static/Oswald-ExtraLight.ttf')format('truetype');
}



@media screen and (max-width: 480px) {
    
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    /* Estilos del encabezado */
    header {
        background-color: #190001ff;
        font-size: 18px; 
        color: #B8B296ff;
        padding: 4%;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1; 
        transition: top 0.3s;
    }

    body {
        font-size: 16px; 
        font-family: 'Oswald', sans-serif;
        background-color: #B8B296ff;
        margin: 0;
        padding: 0;
        background-image: url('images/Index2.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
        margin-bottom: 0em;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        flex-grow: 1; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    main img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .logo {
        text-decoration: none;
        color: #fff;
        position: absolute;
        left: 15%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2; 
    }

    h1 {
        font-size: 5.5vw;
        justify-content: center;
        display: none;
    }

    h2 {
        font-size: 3.5vw;
    }

    h3 {
        font-size: 5.5vw;
    }

    
    nav {
        font-size: 0.8em; 
    }

    .article-left {
        border: 0.2vw solid #B8B296ff; 
        border-radius: 10px; 
        padding: 2%; 
        margin: 2%; 
        display: flex; 
        align-items: center; 
        width: 80%; 
        margin: 0 auto; 
        height: auto;
        background-color: #190001ff;
    }

    .article-left img {
        width: 100%; 
        margin-right: 0%;
    }

    .article-left p{
        font-size: 2.5vw;
        margin-bottom: 2%;
        margin-left: 2%;
    }
    .article-left h3{
        font-size: 2.5vw;
        margin-bottom: 2%;
        margin-left: 2%;
    }
    
    .text-container {
        width: 200%; 
        margin-left: 10%;
        margin-right: 10%;
    }

    ul li {
        margin-left: 5px; 
    }

    section {
        text-align: center;
        margin: 80px 0 0;
        padding: 10px 0 0;
        position: relative;
        background-size: cover;
        background-position: center;
        color: #B8B296ff;
        padding-bottom: 10%;
    }

    .article-with-title {
        border: 0.15vw solid #B8B296ff;
        border-radius: 10px;
        padding: 2%;
        margin: 0 auto;
        display: flex;
        width: 75%;
        background-color: #190001ff;
    }
    
    /* Estilos para la imagen en el nuevo tipo de artículo */
    .article-with-title img {
        max-width: 125%;
        margin-right: 2%;
        margin-top: 30%;
        margin-bottom: 30%; 
    }
    
    /* Estilos para el contenedor del texto en el nuevo tipo de artículo */
    .article-with-title .text-container {
        flex-grow: 0.5;
    }
    
    .article-with-title h2 {
        font-size: 1.6vw;
        margin-bottom: 1%;
    }
    
    /* Estilos del formulario */
form {
    max-width: 900px;
    margin: 0 auto; 
    padding: 0px;
    position: relative; 
    top: 20vh; 
    padding-bottom: 30%;
}

/* Estilos para los campos de entrada y etiquetas */
form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #B8B296ff; 
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #B8B296ff;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 4vw;
    color: #B8B296ff;
    background-color: transparent;
}

form textarea {
    height: 150px;
    background-color: transparent;
}

form input[type="submit"] {
    background-color: transparent;
    color: #B8B296ff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 4vw;
    cursor: pointer;
    padding-bottom: 10vw;
    align-items: center;
    padding-left: 0%;
    padding-bottom: 10%;
}


   
}
